<div class="container">
  <div class="header">Select Your Route</div>

  <div class="fieldsContainer">
    <span class="fieldGroup" style="float: left;">
      <label class="caption" for="fromPlanet"> From planet:</label> <br />
      <select #fromPlanet class="select" (change)="findShortestRoute()">
        <option value=""></option>
        <option *ngFor="let planet of planets" value="{{ planet.planetNode }}">
          {{ planet.planetName }}
        </option>
      </select>
    </span>

    <span class="fieldGroup" style="float: right;">
      <label class="caption" for="toPlanet"> To planet:</label> <br />
      <select #toPlanet class="select" (change)="findShortestRoute()">
        <option value=""></option>
        <option *ngFor="let planet of planets" value="{{ planet.planetNode }}">
          {{ planet.planetName }}
        </option>
      </select>
    </span>
  </div>

  <div *ngIf="isRouteFound" class="header" style="font-size: 14pt;">
    Schedule
  </div>

  <table *ngIf="isRouteFound" class="routeSheduleTable">
    <thead class="header" style="font-size: 10pt;">
      <tr>
        <th></th>
        <th>Planet</th>
        <th>Arrival Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let planetNode of shortestRoute" class="routeSheduleTableRow">
        <td><span class="planetDot"></span></td>
        <td>{{ planetNode.planetName }}</td>
        <td>
          {{
            planetNode.distanceFromSource
              ? planetNode.distanceFromSource.toFixed(2) + " ly"
              : "DEPART"
          }}
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!isRouteFound && shortestRoute.length > 0" class="noRouteFound">
    Sorry! No route found.
  </div>

  <div
    *ngIf="
      !isRouteFound &&
      shortestRoute.length === 0 &&
      fromPlanet.value &&
      toPlanet.value &&
      fromPlanet.value !== toPlanet.value
    "
    class="findingRoute blinking"
  >
    <img
      src="../../../assets/rocket-launch-loading.gif"
      alt=""
      style="width: 5em; height: 5em;"
    />
    <br />
    Finding route. Please wait ...
  </div>
</div>
