<div class="container">
  <div class="header">Select Your Route</div>

  <div class="fieldsContainer">
    <span class="fieldGroup" style="float: left;">
      <label class="caption" for="fromPlanet"> From planet:</label> <br />
      <select class="select" id="fromPlanet">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </span>

    <span class="fieldGroup" style="float: right;">
      <label class="caption" for="toPlanet"> To planet:</label> <br />
      <select class="select" id="toPlanet">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </span>
  </div>

  <div class="header" style="font-size: 14pt;">Schedule</div>

  <table class="routeSheduleTable">
    <thead class="header" style="font-size: 10pt;">
      <tr>
        <th></th>
        <th>Planet</th>
        <th>Arrival Time</th>
      </tr>
    </thead>
    <tbody>
      <tr class="routeSheduleTableRow">
        <td><span class="reddot"></span></td>
        <td>Earth</td>
        <td>123 ly</td>
      </tr>
      <tr class="routeSheduleTableRow">
        <td><span class="reddot"></span></td>
        <td>Moon</td>
        <td>456 ly</td>
      </tr>
      <tr class="routeSheduleTableRow">
        <td><span class="reddot"></span></td>
        <td>Other XYZ</td>
        <td>789 ly</td>
      </tr>
    </tbody>
  </table>
</div>
